@keyframes animatedBackground{
	from{background-position: 0 0;}
	to{background-position: 0 100%;}

}

#background-ani{

	width: 420px;
	height: 10000px;
    background-image: url(../img/trail.png);
    background-position: 0px 0px;
    background-repeat: repeat-y;
    background-size: contain;

    animation: animatedBackground 20s linear infinite;
}

#button1{
	color:red;
}