@keyframes animatedBackground{
	from{background-position: 0 0;}
	to{background-position: 0 100%;}

}

#background-ani{
	width: 1000px;
	height: 7000px;
    background-image: url(../img/road.png);
    background-position: 0px 0px;
    background-repeat: repeat-y;
    background-size: contain;

    animation: animatedBackground 1s linear infinite;
}

#button1{
	color:red;
}